.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hover-animation {
  transition: transform 0.3s ease;
}

.hover-animation:hover {
  background-color: rgb(235, 127, 4);
  transform: scale(1.1); /* You can adjust the scale value as needed */
}

.custom-background {
  background-color: rgb(24, 22, 22); /* Replace 'yourcolor' with your desired background color */
}