/* Receiver.css */

.receiver-container {
    background-color: black;
    min-height: 100vh;
    padding: 20px;
  }
  
  .receiver-container h1 {
    text-align: center;
    color: white;
    padding-bottom: 20px;
  }
  
  .receiver-container .navbar {
    background-color: black;
  }
  
  .receiver-container .navbar .navbar-brand {
    color: white;
  }
  
  .receiver-container .navbar .navbar-nav .nav-link {
    color: white;
  }
  
  .receiver-container .input-container input {
    background-color: black;
    color: rgb(255, 253, 253);
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    max-width: 300px;
  }
  
  .receiver-container .input-container input[type="file"],
  .receiver-container .input-container input[type="text"] {
    margin-bottom: 20px;
  }
  
  .receiver-container .input-container button {
    background-color: #0074d9;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .receiver-container .input-container button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .receiver-container .Message {
    color: green;
    margin-top: 20px;
  }
  
  .custom-navbar {
    background-color: #343a40;
    width: 100%;
  }
  .receiver-container .Display{
    color: orange;
    margin-top: 20px;
    margin-bottom: 20px;
  }